.hero {
    background-image: url(imgs/hero1.png);
}
.decor {
    border-radius: 20px;
    border: 2px solid black;
}
a {
    color: white;
    text-decoration: none;
}
footer {
    background-color: #BD8698;
}
.icon {
    width: 30px;
    height: 30px;
}
.gallery {
    border-radius: 20px;
    border: 2px solid black;
}
.navbar {
    background-color: #F4ACB7;
}
body {
    background-color: #FADDE1;
}

#galleryBG {
    background-color: #78425344;
    padding: 2vh;
}
.btn {
    background-color: #FF87AB;
    color: rgb(0, 0, 0);
    border: 1px black solid;
}
.btn:hover, #instaBtn:hover {
    background-color: #6d3246;
    border: 1px black solid;
}
.commissionBG {
    background-color: #78425344;
}
#instaBtn {
    background-color: #F4ACB7;
} 
