.hero {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(imgs/hero1.png);
    background-attachment: fixed;
    background-position: center;
  background-size: cover;
  background-position-y:bottom;
  height: 150%;
}
.title, h2 {
    font-size: 3rem;
    font-family: "brevia", sans-serif;
font-weight: 600;
font-style: italic;
}
.display-5 {
    color: white;
}

.decor {
    border-radius: 20px;
    border: 2px solid black;
}
a {
    color: white;
    text-decoration: none;
}
footer {
    background-color: #BD8698;
}
.icon {
    width: 30px;
    height: 30px;
}
.gallery {
    border-radius: 20px;
    border: 2px solid black;
}
.navbar {
    background-color: #F4ACB7;
}
body {
    background-color: #FADDE1;
}

#galleryBG {
    background-color: #78425344;
    padding: 2vh;
        border: 2px solid rgb(73, 19, 37);
    border-radius: 20px;
    box-shadow: 0px 0px 10px #00000079;
}
.btn {
    background-color: #FF87AB;
    color: rgb(0, 0, 0);
    border: 1px black solid;
}
.btn:hover, #instaBtn:hover {
    background-color: #6d3246;
    border: 1px black solid;
    box-shadow: 0px 0px 10px #00000079;
}
.commissionBG {
    background-color: #78425344;
    border-radius: 20px;
    border: 2px solid rgb(73, 19, 37);
    box-shadow: 0px 0px 10px #00000079;
}
#instaBtn {
    background-color: #F4ACB7;
} 
body {
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
img {
    border-radius: 20px;
    box-shadow: 0px 0px 10px #000000c4;
    transition-duration: .5s;
}
img:hover {
    box-shadow: 0px 0px 20px #000000c4;
    transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1.05, 0, -5, -5, 0, 1);

    transition-duration: .5s;
}
.container {
    border-radius: 20px;
}
.alert {
    background-color: #be9da844;
    border-radius: 20px;
    border: 2px solid rgb(73, 19, 37);
    box-shadow: 0px 0px 10px #00000079;
    font-size: large;
        transition-duration: 0.5s;
}
.alert:hover {
    background-color: #be9da8;
    border-radius: 20px;
    border: 2px solid rgb(73, 19, 37);
    box-shadow: 0px 0px 10px #00000079;
    font-size: large;
    transition-duration: 0.5s;
}
.icon {
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000c4;
    transition-duration: .5s;
}
.icon:hover {
    box-shadow: 0px 0px 10px #000000c4;
    transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1.05, 0, -5, -5, 0, 1);
    transition-duration: .5s;
    border-radius: 20px;
}